<div class="mail-file-div">
  <h1>PhishTector</h1>
  <mat-form-field>
    <div>
      <mat-toolbar>
        <input matInput [(ngModel)]="displayText" readonly name="name" />
        <button mat-stroked-button >Browse File</button>
      </mat-toolbar>
      <input
        type="file"
        #mailFileInput
        id="uploadFile"
        (change)="uploadFileEvent($event)"
        name="uploadFile"
        accept=".eml"
        required
      />
    </div>
  </mat-form-field>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!isFileSelected"
      (click)="uploadMailFileClick()"
    >
      ANALYZE E-MAIL
    </button>
  </div>
</div>
<div>
  {{ errorMessage }}
</div>
